<div class="row">
    <div class="col-6">
    	<div id="DiscussionPanel"></div>
    	<mighty-bar ng-if="user.currentUser"></mighty-bar>
    	<social-directive ng-repeat="post in posts"></social-directive>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Komentari</h4>
            </div>
            <div class="modal-body">
                <div ng-if='comments.data.length==0'>Nema komentara za ovaj post</div>
                <div class="panel panel-success" ng-repeat="comment in comments.data">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{comment.sh_box_nickname}} @ {{comment.update_time}}</h3>
                  </div>
                  <div class="panel-body">
                        {{comment.message}}
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closeComments()">Zatvori</button>
            </div>
        </div>
    </div>
</div>